<div class="section-header">
    <h2>Usuarios</h2>
    <ul>
        <li>
            <label class="form-label">Buscar</label>
            <div class="form-control-icon">
                <input type="text" />
                <i class='bx bx-search-alt-2'></i>
            </div>
        </li>
        <li>
            <label class="form-label">Rol</label>
            <select class="form-control">
                <option>Todos</option>
            </select>
        </li>
        <li>
            <button>Crear</button>
        </li>
    </ul>
</div>
<div class="card mt-3">
    <div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th>Correo</th>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Rol</th>
                    <th>Puesto</th>
                    <th>Teléfono</th>
                    <th [width]="90">

                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Correo</td>
                    <td>Nombre</td>
                    <td>Apellido Paterno</td>
                    <td>Apellido Materno</td>
                    <td>Rol</td>
                    <td>Puesto</td>
                    <td>Teléfono</td>
                    <td [width]="90">
                        <button class="icon blue">
                            <i class='bx bx-edit-alt'></i>
                        </button>
                        <button class="icon red ml-1">
                            <i class='bx bx-trash-alt'></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>