<div class="section-header">
    <h2>Roles</h2>
    <ul>
        <li>
            <label class="form-label">Buscar</label>
            <div class="form-control-icon">
                <input type="text" />
                <i class='bx bx-search-alt-2'></i>
            </div>
        </li>
        <li>
            <button>Crear</button>
        </li>
    </ul>
</div>
<div class="card">
    <div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th [width]="90"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Administrador</td>
                    <td [width]="90">
                        <button class="icon blue">
                            <i class='bx bx-edit-alt'></i>
                        </button>
                        <button class="icon red ml-1">
                            <i class='bx bx-trash-alt'></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>