<div class="section-header">
    <h2>Contactos</h2>
    <ul>
        <li>
            <label class="form-label">Buscar</label>
            <div class="form-control-icon">
                <input type="text" />
                <i class='bx bx-search-alt-2'></i>
            </div>
        </li>
        <li>
            <button type="button" (click)="crear()">Crear</button>
        </li>
    </ul>
</div>
<div class="card mt-3">
    <div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th>Nombre empresa</th>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Correo</th>
                    <th>Puesto</th>
                    <th>Teléfono</th>
                    <th [width]="100"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Empresa</td>
                    <td>Nombre</td>
                    <td>Apellido Paterno</td>
                    <td>Apellido Materno</td>
                    <td>Correo</td>
                    <td>Puesto</td>
                    <td>Teléfono</td>
                    <td [width]="100">
                        <button class="icon blue">
                            <i class='bx bx-edit-alt'></i>
                        </button>
                        <button class="icon indigo ml-1">
                            <i class='bx bx-conversation'></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-modal [visible]="modalCrearVisible">
    <ng-template #encabezado>
        <h4>Crear Contacto</h4>
    </ng-template>
    <ng-template #cuerpo>
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Cuenta</label>
                        <select class="form-control"></select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Nombre</label>
                        <input class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Apellido Paterno</label>
                        <input class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Apellido Materno</label>
                        <input class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Correo</label>
                        <input class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Puesto</label>
                        <input class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-label">Teléfono</label>
                        <input class="form-control" />
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template #pie>
        <button type="button" (click)="cerrarContacto()">Cerrar</button>
        <button class="primary ml-3" type="button" (click)="cerrarContacto()">Guardar</button>
    </ng-template>
</app-modal>