<div class="section-header">
    <h2>Cuentas</h2>
    <ul>
        <li>
            <label class="form-label">Buscar</label>
            <div class="form-control-icon">
                <input type="text" />
                <i class='bx bx-search-alt-2'></i>
            </div>
        </li>
        <li>
            <button>Crear</button>
        </li>
    </ul>
</div>
<div class="card mt-3">
    <div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th>Nombre empresa</th>
                    <th>Teléfono</th>
                    <th>Calle</th>
                    <th>No. exterior</th>
                    <th>Colonia</th>
                    <th>Código postal</th>
                    <th>País</th>
                    <th [width]="130"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Empresa</td>
                    <td>Telefono</td>
                    <td>Calle</td>
                    <td>11</td>
                    <td>Colonia</td>
                    <td>75693</td>
                    <td>País</td>
                    <td [width]="130">
                        <button class="icon blue">
                            <i class='bx bx-edit-alt'></i>
                        </button>
                        <button class="icon indigo ml-1">
                            <i class='bx bx-conversation'></i>
                        </button>
                        <button class="icon green ml-1">
                            <i class='bx bxs-contact'></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>