<div class="main-content">
    <app-sidebar></app-sidebar>
    <div class="right-content">
        <header>
            <nav>
                <ul>
                    <li style="font-size: 0.9em;">
                        <small style="font-weight: 500;">Jhon Doe</small><br>
                        <small>Administrador</small>
                    </li>
                    <li>
                        <button class="icon transparent" type="button">
                            <i class='bx bx-dots-vertical-rounded'></i>
                        </button>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>